@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');

:root {
    --branco: #fff;
    --preto: #000;
    --cinza: rgb(107, 107, 107);
    --cinza-claro: rgb(182, 182, 182);
    --azul: #3daef0f8;
    --font-family: 'Roboto', sans-serif;


}

-claro * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: var(--font-family);
}

nav .navbar-dark {
    background-color: rgba(0, 0, 0, 0.8);
    border-bottom: 0;

}


.navbar-brand {
    font-size: 18pt;
    font-weight: bold;

}

i {
    font-size: 20pt;
}

.logo {
    font-size: 20pt;
    color: var(--cinza-claro);
}

li a {
    color: var(--branco);
    margin: 0 px;
    font-size: 12pt;
    font-weight: bold;
    font-size: 13pt;

}




header i {
    font-size: 30pt;

}



/*fim da barra de navagação*/



#banner {
    height: 100vh;
    background: url("../imagens/bg-projeto.jpg");
    background-size: cover;
    padding: 20vh;
}

#banner-info {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    color: var(--branco);
    padding: 15px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: fadeInLeft 2s;
}




#banner-info h1 {
    font-size: 45pt;
}

#banner-info h2 {
    font-size: 35pt;
    font-weight: bold;
    margin: 20px 0;
    padding: 15px;
    border-radius: 20px;
}

.links i {
    font-size: 28pt;
    margin: auto 15px;
    color: var(--branco);
    transition: .3s ease-in-out;
}

.links i:hover {
    color: var(--azul);
    transform: scale(1.2);
}



#about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    color: var(--branco);
    background-color: var(--preto);
    padding: 20px 0 50px 0;
    height: 100vh;
}

#about h2 {
    margin-bottom: 60px;
    font-size: 30pt;
}

#about p {
    width: 50%;
    text-align: center;
    line-height: 30px;
    font-size: 15pt;   

}

#about img {
    width: 250px;
    border-radius: 50%;
    margin: 30px 0;
}

#skills {
    background-color: var(--branco);
    width: 60%;
    margin: -50px auto;
    border-radius: 20px;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 8px 17px var(--cinza-claro);
}

 .container h2{
    margin-top: 80px;
    text-align: center;
    width: 100%;
    font-size: 32pt;
    font-weight: bold;
    color: var(--cinza);
}

#skills .container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;

}

.skill-container {
    text-align: center;
    padding: 60px 30px;
    margin: 20px;
    width: 300px;
}


.skill-container i {
    width: 100px;
    font-size: 30pt;
    margin-bottom: 50px;
    animation: move 1s ease-in-out infinite alternate;
}

@keyframes move {
    from {
        transform: translatey(-10px);

    }

    to {
        transform: translatey(10px);
    }
}

.skill-container h3 {
    color: var(--cinza);
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
}

.skill-container .subtitle {
    font-weight: bold;
    color: var(--cinza);
    margin: 40px 0 15px 0;
    text-align: center;

}

#jobs {
    text-align: center;
    padding-top: 12%;

}

#jobs h2 {
    color: var(--cinza);
    margin-bottom: 30px;
    font-size: 32pt;
    color: var(--cinza);
    font-weight: bold;
}

#jobs p {
    font-size: 15pt;
    margin-bottom: 50px;
}

#jobs a {

    font-weight: 700;
    color: var(--cinza);
    transition: .3s ease-in-out;
}

#jobs a:hover {
    color: var(--azul);
}

.container-job {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto 50px auto;

}

.item {
    margin-right: 20px;
}


footer {
    background-color: var(--preto);
    height: 50px;
    color: var(--branco);
    text-align: center;
    padding: 10px;
}

footer .name {
    font-weight: bold;
}


@media (min-width: 982px) {
    .navbar-nav {
        position: absolute;
        right: 80px;
    }

    .navbar-brand {
        position: absolute;
        left: 80px;
    }

    .navbar-dark {
        height: 80px;
    }
}

@media screen  and (min-width: 320px) and (max-width: 786px) {


    #banner {
        width: 100%;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #banner-info h1{
        font-size: 25pt;
        font-weight: bold;

    }

    #banner-info h2{
        font-size: 20pt;
    }

    #banner-info i{
        font-size: 20pt;
    }

    .navbar-brand {
        position: relative;
        right: 90px;
    }

    #about{
        height: 100vh;
        width: 100%;
        margin: 0;
        text-align: center;
    }

    #about img{
        width:190px;
    }

    #about h2{
        font-size: 20pt;

    }

    #about p{
        font-size: 12pt;
        width: 90%;
    }

    #skills {
        width: 100%;
        padding: 50px 0;
        margin: 150px 0 100px 0;
        box-shadow: none;
    }
    
    .skill-container{
        padding: 20px 0;
        width: 100%;
    }

    .skill-container i{
        font-size: 20pt;
    }

  


    #jobs{
        width: 100%;
        padding: 100px 20px;

    }

    #jobs h2{
        font-size: 20pt;
    }

    #jobs p, a, i{
        font-size: 12pt;
    }


}



@media screen and (min-width: 320px) and (max-width: 425px)  {
    .logo{
        display: none;
    }
    
    .container h2{
        margin-top: 120px;
        }

        #jobs h2{
            margin-top: 50px;
        }
}